.Header{
    color: royalblue;
    background-color: aqua;
    border: solid;
    text-align: center;
}

.item{
    background-color:violet;
    text-align: center;
    border: solid;
}

.facts{
    border: solid;
    text-align: center;
    background-color: orange;
}